@keyframes BounceVertical {
    0% {
        transform: translate3d(0, 0, 0);
    }

    50% {
        transform: translate3d(0, var(--bounce-distance, 10px), 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes LoadingSpin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}
