$font-family: Arial, Helvetica, sans-serif;
$font-family-bb: 'Banco do Brasil Medium', Arial, Helvetica, sans-serif;
$font-size: 16px;
$font-line: 1.375em;

$box-shadow: -10px 23px 36px rgba(0, 0, 0, 0.4);
$box-shadow2: -20px 33px 46px rgba(0, 0, 0, 0.21);
$box-shadow3: 0 13px 16px rgba(0, 0, 0, 0.2);
$box-shadow4: 0 3px 6px rgba(0, 0, 0, 0.16);

$top-level-index: 9999;
$content-z-index: 30;

$responsive-break-point: 900px;

$large-content-width: 1000px;
$small-content-width: 320px;
$header-height-interal: 354px;

$content-height: 1260px;
$content-column-half-width: 455px;
$content-column-third-width: 290px;
$footer-height: 0;

$padding-horizontal: 0px;
$small-padding-horizontal: 0px;
