<section>
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar>
                <mat-icon aria-hidden="false" aria-label="Example home icon">account_circle</mat-icon>
            </div>
            <mat-card-title>Cliente</mat-card-title>
        </mat-card-header>
        <mat-card-content [formGroup]="form">
            <p>
                <mat-form-field>
                    <mat-label>Nome</mat-label>
                    <input matInput formControlName="nome">
                    <mat-error *ngIf="form.invalid">{{obterMensagemErro('nome')}}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Sobrenome</mat-label>
                    <input matInput formControlName="sobrenome">
                    <mat-error *ngIf="form.invalid">{{obterMensagemErro('sobrenome')}}</mat-error>                    
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <mat-label>Telefone</mat-label>
                    <input matInput formControlName="telefone">
                    <mat-error *ngIf="form.invalid">{{obterMensagemErro('telefone')}}</mat-error>
                </mat-form-field>               
            </p>       
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="salvar()" [disabled]="form.invalid">Salvar</button>
            <button mat-raised-button color="warn" [routerLink]="['/financeiro/clientes']">Cancelar</button>
        </mat-card-actions>
    </mat-card>
</section>